body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2b4f6d;
    flex-direction: column;
    font-family: Helvetica;
    color: #ffffff;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 50vh;
    height: 50vh;
    background-color: #4591d3;
    padding: 20px;
    border-radius: 15px;
    box-shadow: black 0px 8px 24px;
}

.cell {
    border: 5px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.piece {
    font-size: 80px;
    border: none;
    background-color: #4591d3;
    flex: 1;
    color: #ffffff;
}

.left {
    border-left: none;
}

.top {
    border-top: none;
}

.right {
    border-right: none;
}

.bottom {
    border-bottom: none;
}

.output {
    margin: 50px;
    font-size: 18px;
}

.controls button, input[type="submit"], input[type="button"] {
    background-color: #4591d3;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 15px;
    color: #ffffff;
    box-shadow: #111010 0px 1px 5px;
}

dialog {
    background-color: #315b7e;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: black 0px 8px 24px;
}

form {
    display: flex;
    align-items: center;
    gap: 10px
}

input[type="text"] {
    border-radius: 8px;
    border: none;
    background-color: #4591d3;
    color: #ffffff;
    padding: 10px;
}